In [ ]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
from random import randrange
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.tree import DecisionTreeRegressor
import matplotlib.pyplot as plt

data_test = pd.read_csv("/content/IPL_test.csv")
data_train=pd.read_csv("/content/IPL_train.csv")


enc = OneHotEncoder(dtype = float)
overs = [[i] for i in range(1, 21)]
enc.fit(overs)

def drop_feature(df):
    return df.drop(["batting_team", "ball", "bowler",
                    "batsman", "dismissal_kind", "fielder",
                    "bowling_team", "non_striker"
                    ], axis = 1)
test = drop_feature(data_test)
train=drop_feature(data_train)

In [ ]:
#Test Data
matchid=124
cum_run=[]
m=[]
sum=0
count=1
for i in range(len(test)):
  if test['match_id'][i]!=matchid:
    matchid=test['match_id'][i]
    try:
      sum=test['total_runs'][i]
      count=1
    except:
      continue
    cum_run.append(sum)
    m.append(count)
  else:
    sum+=test['total_runs'][i]
    count+=1
    cum_run.append(sum)
    m.append(count)
test['cum_run']=cum_run
test['balls']=m
test

,match_id,over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,cum_run,balls
0,124,1,0,0,0,0,0,0,0,0,NaN,0,2
1,124,1,0,0,0,0,0,4,0,4,NaN,4,3
2,124,1,0,0,0,0,0,4,0,4,NaN,8,4
3,124,1,0,0,0,0,0,4,0,4,NaN,12,5
4,124,1,0,0,0,0,0,0,0,0,NaN,12,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6142,304,8,0,0,0,0,0,0,0,0,NaN,53,49
6143,304,8,0,0,1,0,0,0,1,1,NaN,54,50
6144,304,8,0,0,0,0,0,2,0,2,NaN,56,51
6145,304,8,0,0,0,0,0,4,0,4,NaN,60,52
6146,304,9,0,0,0,0,0,1,0,1,NaN,61,53

In [ ]:
from numpy import NaN
matchid=1
cum_run=[]
m=[]
runrate=[]
wickets=[]
sum_list=[]
sum=0
count=1
len_calc=0
run_counter=0
wicket_counter=0
len_inp=randrange(48,60)
var=0
len_list=[]
for i in range(len(train)):
  if len_calc<len_inp and var==0:
    len_calc+=1
    run_counter+=train['total_runs'][i]
    if type(train['player_dismissed'][i])==str:
      wicket_counter+=1
  if len_calc==len_inp:
    len_calc=0
    len_list.append(len_inp)
    len_inp=randrange(48,60)
    wickets.append(wicket_counter)
    runrate.append(6*run_counter/count)
    wicket_counter=0
    run_counter=0
    var=1
  if train['match_id'][i]!=matchid:
    var=0
    matchid=train['match_id'][i]
    sum_list.append(sum)
    try:
      sum=train['total_runs'][i]
      count=1
    except:
      continue
    cum_run.append(sum)
    m.append(count)
  else:
    sum+=train['total_runs'][i]
    count+=1
    cum_run.append(sum)
    m.append(count)
sum_list.append(sum)
train['cum_run']=cum_run
train['balls']=m
len(sum_list),len(wickets),len(runrate),len(len_list)

(300, 300, 300, 300)

In [ ]:
df=pd.DataFrame()
df['Balls']=len_list
df['wickets']=wickets
df['runrate']=runrate

In [ ]:
df

     Balls  wickets   runrate
0       49        1  9.061224
1       58        3  8.068966
2       53        3  7.471698
3       48        3  4.125000
4       50        0  6.720000
..     ...      ...       ...
295     53        2  7.132075
296     54        2  7.333333
297     51        1  6.470588
298     52        2  6.000000
299     59        1  9.762712

[300 rows x 3 columns]

In [ ]:
feature=df.to_numpy()
label=[]
for i in range(len(sum_list)):
  label.append([sum_list[i]])
print(feature,label)

[[49.          1.          9.06122449]
 [58.          3.          8.06896552]
 [53.          3.          7.47169811]
 [48.          3.          4.125     ]
 [50.          0.          6.72      ]
 [53.          2.          7.35849057]
 [56.          2.          7.5       ]
 [49.          1.          5.14285714]
 [51.          0.          9.05882353]
 [56.          1.          7.71428571]
 [55.          4.          6.54545455]
 [51.          1.          8.70588235]
 [53.          0.          8.1509434 ]
 [58.          4.          6.20689655]
 [58.          0.         11.06896552]
 [52.          2.          7.15384615]
 [52.          4.          6.34615385]
 [53.          0.         10.98113208]
 [52.          2.          8.42307692]
 [51.          3.          6.35294118]
 [48.          2.          9.25      ]
 [53.          3.          5.88679245]
 [57.          2.          5.15789474]
 [51.          3.          5.29411765]
 [50.          2.          9.24      ]
 [57.          0.         10.52631579]
 [52.          1.          8.30769231]
 [52.          3.          8.76923077]
 [49.          2.          5.63265306]
 [58.          4.          8.48275862]
 [50.          2.          7.44      ]
 [54.          3.          8.66666667]
 [56.          4.          8.03571429]
 [58.          4.          7.03448276]
 [59.          1.          9.05084746]
 [56.          2.          6.85714286]
 [59.          2.          8.44067797]
 [54.          2.          6.88888889]
 [54.          4.          5.66666667]
 [53.          4.          6.22641509]
 [48.          2.          8.25      ]
 [52.          3.          5.07692308]
 [56.          1.          6.85714286]
 [48.          2.          6.875     ]
 [53.          3.          7.01886792]
 [58.          2.          6.10344828]
 [54.          4.          5.11111111]
 [57.          0.          8.63157895]
 [51.          1.          6.94117647]
 [57.          5.          3.26315789]
 [49.          1.         10.53061224]
 [49.          1.          8.32653061]
 [59.          2.          6.20338983]
 [54.          2.          7.11111111]
 [53.          2.          5.20754717]
 [59.          0.          7.01694915]
 [49.          0.         10.89795918]
 [56.          1.          7.39285714]
 [53.          2.          5.66037736]
 [52.          2.          8.76923077]
 [49.          3.          6.24489796]
 [48.          2.          8.5       ]
 [55.          3.          6.43636364]
 [56.          1.          8.14285714]
 [48.          1.          7.        ]
 [52.          4.          6.92307692]
 [59.          2.          5.89830508]
 [53.          3.          5.32075472]
 [52.          1.          8.76923077]
 [48.          1.          7.375     ]
 [52.          4.          4.61538462]
 [57.          4.          4.        ]
 [52.          2.          7.61538462]
 [55.          5.          5.34545455]
 [59.          3.          7.3220339 ]
 [49.          2.          7.34693878]
 [50.          1.          6.96      ]
 [52.          2.          6.57692308]
 [58.          3.          6.20689655]
 [55.          2.          8.18181818]
 [56.          3.          5.89285714]
 [54.          3.          9.        ]
 [54.          4.          5.33333333]
 [53.          0.          6.79245283]
 [56.          2.         10.82142857]
 [55.          3.          4.58181818]
 [54.          2.          7.88888889]
 [57.          2.          6.        ]
 [51.          2.          6.82352941]
 [52.          2.          7.15384615]
 [53.          4.          8.03773585]
 [54.          2.          6.44444444]
 [57.          3.          7.47368421]
 [58.          2.          8.06896552]
 [49.          2.         10.04081633]
 [55.          2.          8.72727273]
 [51.          2.          8.35294118]
 [54.          0.          8.33333333]
 [56.          1.          6.42857143]
 [56.          3.          7.39285714]
 [57.          4.          5.68421053]
 [51.          1.          6.23529412]
 [49.          3.          6.12244898]
 [54.          1.          7.        ]
 [49.          1.          5.02040816]
 [52.          2.          7.5       ]
 [54.          1.          8.        ]
 [51.          3.          7.17647059]
 [56.          2.          6.96428571]
 [48.          1.          7.875     ]
 [59.          1.          6.20338983]
 [52.          4.          4.38461538]
 [56.          1.          4.60714286]
 [49.          1.          6.6122449 ]
 [49.          1.          5.02040816]
 [59.          1.          6.81355932]
 [55.          1.          7.74545455]
 [52.          1.          7.73076923]
 [59.          2.          9.3559322 ]
 [58.          5.          5.68965517]
 [48.          2.          6.75      ]
 [51.          1.          6.94117647]
 [56.          3.          4.92857143]
 [50.          2.          6.48      ]
 [59.          3.          4.98305085]
 [53.          2.          8.1509434 ]
 [55.          1.          5.67272727]
 [49.          2.          6.24489796]
 [49.          1.          6.36734694]
 [55.          2.          3.38181818]
 [55.          2.          7.30909091]
 [58.          2.          6.93103448]
 [51.          0.          7.64705882]
 [53.          2.          6.11320755]
 [52.          3.          4.84615385]
 [56.          2.          5.67857143]
 [49.          5.          5.63265306]
 [57.          3.          4.94736842]
 [57.          2.          5.57894737]
 [50.          2.          7.8       ]
 [59.          4.          4.88135593]
 [58.          0.         10.24137931]
 [52.          6.          8.07692308]
 [48.          3.          5.        ]
 [53.          0.          7.35849057]
 [57.          3.          7.36842105]
 [48.          2.          6.375     ]
 [51.          2.          6.23529412]
 [50.          1.          7.56      ]
 [59.          2.          6.        ]
 [59.          5.          4.16949153]
 [57.          0.          7.68421053]
 [54.          0.          7.11111111]
 [48.          3.          6.875     ]
 [48.          2.          6.25      ]
 [56.          1.          6.75      ]
 [57.          2.          5.26315789]
 [53.          2.          5.77358491]
 [52.          2.          7.38461538]
 [48.          0.          8.625     ]
 [58.          0.          7.86206897]
 [54.          2.          6.33333333]
 [55.          2.          7.09090909]
 [48.          1.          5.375     ]
 [49.          0.          8.57142857]
 [53.          2.          9.8490566 ]
 [50.          2.          5.4       ]
 [48.          2.          7.5       ]
 [51.          2.          4.82352941]
 [53.          1.          7.69811321]
 [58.          4.          5.17241379]
 [53.          1.          6.90566038]
 [51.          2.          7.29411765]
 [55.          3.          5.89090909]
 [53.          0.          8.83018868]
 [48.          3.          5.25      ]
 [51.          2.          6.23529412]
 [58.          2.          4.55172414]
 [54.          1.          6.77777778]
 [53.          2.          5.32075472]
 [48.          0.          8.        ]
 [53.          0.          8.26415094]
 [54.          2.          6.55555556]
 [56.          1.          6.21428571]
 [56.          3.          6.53571429]
 [53.          0.          6.79245283]
 [49.          1.          7.2244898 ]
 [49.          3.          5.3877551 ]
 [53.          0.          7.69811321]
 [50.          2.          6.24      ]
 [52.          1.          5.88461538]
 [52.          2.          5.42307692]
 [50.          2.          5.52      ]
 [49.          0.          7.2244898 ]
 [48.          1.          8.75      ]
 [51.          3.          6.35294118]
 [50.          1.          7.56      ]
 [57.          0.         10.63157895]
 [50.          1.          6.6       ]
 [55.          2.          7.41818182]
 [56.          1.          6.85714286]
 [53.          2.          6.        ]
 [57.          2.          4.10526316]
 [50.          1.          5.16      ]
 [56.          2.          4.82142857]
 [51.          0.          8.58823529]
 [54.          3.          5.77777778]
 [48.          0.          6.875     ]
 [48.          2.          6.75      ]
 [52.          5.          6.        ]
 [50.          1.          6.36      ]
 [50.          1.          7.32      ]
 [58.          2.          7.65517241]
 [49.          1.          6.48979592]
 [53.          2.          6.79245283]
 [52.          3.          5.65384615]
 [58.          1.          5.79310345]
 [52.          4.          4.26923077]
 [54.          0.          9.77777778]
 [52.          2.          6.69230769]
 [53.          2.          7.9245283 ]
 [59.          2.          5.79661017]
 [58.          3.          7.65517241]
 [50.          1.          7.56      ]
 [50.          2.          7.08      ]
 [55.          2.          8.07272727]
 [53.          2.          6.45283019]
 [51.          2.          6.11764706]
 [48.          2.          8.        ]
 [48.          2.          8.375     ]
 [59.          1.          5.69491525]
 [56.          3.          5.46428571]
 [52.          1.          7.5       ]
 [49.          2.          5.51020408]
 [48.          1.          8.375     ]
 [56.          2.          5.67857143]
 [59.          1.          7.93220339]
 [54.          2.          4.66666667]
 [53.          1.          8.1509434 ]
 [56.          3.          7.82142857]
 [53.          3.          8.71698113]
 [55.          2.          7.41818182]
 [56.          3.          7.17857143]
 [57.          1.          5.89473684]
 [48.          2.          6.125     ]
 [59.          1.          7.93220339]
 [52.          1.          7.15384615]
 [50.          2.          9.12      ]
 [52.          1.          6.69230769]
 [55.          3.          5.45454545]
 [51.          3.          7.05882353]
 [59.          1.          7.72881356]
 [49.          2.          6.        ]
 [56.          0.          8.25      ]
 [48.          1.          8.5       ]
 [51.          2.          6.58823529]
 [55.          4.          4.69090909]
 [48.          2.          8.125     ]
 [50.          2.          8.4       ]
 [51.          5.          4.47058824]
 [56.          1.         10.28571429]
 [53.          2.          6.67924528]
 [53.          0.          9.73584906]
 [54.          1.          8.33333333]
 [51.          2.          6.35294118]
 [57.          1.          8.        ]
 [53.          2.          5.66037736]
 [51.          2.          4.58823529]
 [52.          4.         10.96153846]
 [53.          4.          6.        ]
 [52.          1.          9.92307692]
 [58.          1.          8.89655172]
 [56.          3.          5.14285714]
 [54.          2.          5.22222222]
 [51.          4.          5.64705882]
 [55.          1.          7.96363636]
 [54.          1.          7.33333333]
 [54.          1.          9.11111111]
 [50.          1.          7.68      ]
 [54.          2.          7.44444444]
 [48.          2.          6.25      ]
 [49.          5.          3.91836735]
 [53.          0.         10.86792453]
 [50.          1.          9.        ]
 [53.          1.          9.73584906]
 [55.          2.          6.87272727]
 [52.          0.          8.07692308]
 [58.          3.          7.24137931]
 [49.          2.          4.53061224]
 [51.          1.          7.05882353]
 [56.          2.          6.96428571]
 [53.          1.          8.94339623]
 [53.          2.          4.75471698]
 [48.          0.         11.125     ]
 [56.          3.          5.67857143]
 [53.          2.          7.13207547]
 [54.          2.          7.33333333]
 [51.          1.          6.47058824]
 [52.          2.          6.        ]
 [59.          1.          9.76271186]] [[207], [184], [178], [148], [142], [188], [161], [159], [213], [191], [142], [188], [160], [134], [207], [157], [153], [209], [162], [155], [208], [138], [148], [138], [168], [154], [222], [240], [110], [166], [208], [214], [135], [147], [191], [169], [178], [162], [109], [144], [187], [122], [204], [156], [143], [133], [156], [221], [194], [67], [118], [178], [149], [154], [147], [175], [211], [174], [147], [192], [133], [104], [158], [168], [149], [143], [139], [149], [178], [154], [105], [116], [168], [123], [166], [129], [145], [147], [134], [153], [161], [212], [141], [203], [218], [92], [171], [136], [171], [180], [148], [183], [172], [163], [246], [184], [159], [181], [184], [154], [111], [183], [112], [174], [191], [132], [192], [145], [133], [153], [163], [151], [140], [175], [159], [182], [183], [165], [187], [118], [164], [171], [109], [148], [94], [143], [165], [156], [175], [114], [178], [125], [146], [176], [89], [135], [136], [118], [133], [175], [147], [185], [97], [129], [191], [193], [164], [110], [155], [134], [92], [196], [164], [163], [146], [126], [146], [168], [177], [207], [190], [152], [139], [186], [141], [177], [125], [170], [141], [182], [114], [170], [190], [171], [158], [120], [126], [136], [162], [187], [222], [190], [128], [126], [138], [145], [183], [124], [159], [152], [169], [123], [161], [185], [185], [159], [149], [200], [164], [171], [187], [132], [80], [174], [139], [178], [154], [170], [152], [150], [170], [168], [172], [192], [165], [148], [163], [145], [205], [115], [191], [141], [132], [152], [178], [187], [160], [231], [198], [143], [157], [190], [157], [141], [201], [138], [164], [160], [156], [195], [185], [160], [115], [189], [199], [209], [184], [177], [166], [127], [155], [209], [146], [191], [181], [157], [95], [150], [200], [118], [192], [148], [226], [201], [163], [235], [157], [119], [106], [130], [199], [187], [113], [180], [98], [227], [187], [163], [170], [135], [143], [118], [172], [174], [159], [162], [177], [175], [151], [248], [103], [183], [121], [211], [124], [158], [172], [162], [162], [208]]

In [ ]:
model=DecisionTreeRegressor(max_depth=15)
model.fit(feature,label)

DecisionTreeRegressor(max_depth=15)

In [ ]:
matchid=124
wicket_list=[]
ball_list=[]
wicket_counter=0
m=[]
id=[matchid]
for i in range(len(test)):
  if type(test['player_dismissed'][i])==str:
    wicket_counter+=1
  if matchid!=test['match_id'][i]:
    wicket_list.append(wicket_counter)
    eminem=wicket_counter
    wicket_counter=0
    ball_list.append(test['balls'][i-1])
    matchid=test['match_id'][i]
    m.append(6*test['cum_run'][i-1]/test['balls'][i-1])
    id.append(matchid)
wicket_list.append(eminem)
ball_list.append(test['balls'][i])
m.append(6*test['cum_run'][len(test)-2]/test['balls'][len(test)-2])
len(m),len(wicket_list),len(ball_list)

(100, 100, 100)

In [ ]:
test

,match_id,over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,cum_run,balls
0,124,1,0,0,0,0,0,0,0,0,NaN,0,2
1,124,1,0,0,0,0,0,4,0,4,NaN,4,3
2,124,1,0,0,0,0,0,4,0,4,NaN,8,4
3,124,1,0,0,0,0,0,4,0,4,NaN,12,5
4,124,1,0,0,0,0,0,0,0,0,NaN,12,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6142,304,8,0,0,0,0,0,0,0,0,NaN,53,49
6143,304,8,0,0,1,0,0,0,1,1,NaN,54,50
6144,304,8,0,0,0,0,0,2,0,2,NaN,56,51
6145,304,8,0,0,0,0,0,4,0,4,NaN,60,52
6146,304,9,0,0,0,0,0,1,0,1,NaN,61,53

In [ ]:
df2=pd.DataFrame()
df2['Balls']=ball_list
df2['wickets']=wicket_list
df2['runrate']=m
df2

    Balls  wickets   runrate
0      52        2  8.538462
1      52        1  6.923077
2      51        3  7.529412
3      58        2  7.137931
4      74        2  8.027027
..    ...      ...       ...
95     66        0  8.363636
96     52        3  5.538462
97     55        2  7.200000
98     65        2  5.630769
99     53        2  6.923077

[100 rows x 3 columns]

In [ ]:
feat=df2.to_numpy()

In [ ]:
predictor=model.predict(feat)

In [ ]:
predictor=predictor.astype(np.int32)

In [ ]:
predictor

array([104, 182, 132, 125, 163, 118, 118, 116, 174,  89, 149, 125, 175,
       114, 175, 208, 139, 149, 208, 166,  67, 118, 163, 118, 136, 168,
       191, 162, 191, 113, 226, 213, 177, 169, 222, 134, 163, 175, 178,
       214, 188, 149, 170, 118, 191, 134, 143, 136, 125, 187, 150, 184,
       168, 114, 147, 134, 177, 183, 116, 185, 163, 209, 209, 134, 158,
       149, 149, 163, 212, 168, 169, 134, 169, 168,  95, 235, 163, 133,
       183, 163, 147, 141, 149, 168, 129, 164, 152, 182, 114, 190, 149,
       169, 149, 191, 212, 191, 161, 154, 136, 165], dtype=int32)

In [ ]:
result=pd.DataFrame()

In [ ]:
result['match_id']=id
result['prediction']=predictor

In [ ]:
result.to_csv('mnq.csv')

In [ ]:
result

    match_id  prediction
0        124       104.0
1        592       182.5
2        630       132.0
3        188       125.0
4        287       163.0
..       ...         ...
95       300       191.0
96       270       161.0
97       179       154.0
98       504       136.5
99       304       165.0

[100 rows x 2 columns]

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.tree import DecisionTreeRegressor
import matplotlib.pyplot as plt
def Predict(trainfile,testfile):
  data_test = pd.read_csv(testfile)
  enc = OneHotEncoder(dtype = float)
  overs = [[i] for i in range(1, 21)]
  enc.fit(overs)
  def drop_feature(df):
      return df.drop(["batting_team", "ball", "bowler",
                      "batsman", "dismissal_kind", "player_dismissed", "fielder",
                      "bowling_team", "non_striker"
                      ], axis = 1)
  test = drop_feature(data_test)
  matchid=124
  cum_run=[]
  m=[]
  sum=0
  count=1
  for i in range(len(test)):
    if test['match_id'][i]!=matchid:
      matchid=test['match_id'][i]
      try:
        sum=test['total_runs'][i]
        count=1
      except:
        continue
      cum_run.append(sum)
      m.append(count)
    else:
      sum+=test['total_runs'][i]
      count+=1
      cum_run.append(sum)
      m.append(count)
  test['cum_run']=cum_run
  test['balls']=m
  matchid=124
  m=[]
  id=[matchid]
  for i in range(len(test)):
    if matchid!=test['match_id'][i]:
      matchid=test['match_id'][i]
      m.append(20*6.4*test['cum_run'][i-1]/test['balls'][i-1])
      id.append(matchid)
  m.append(20*6.4*test['cum_run'][len(test)-2]/test['balls'][len(test)-2])
  result=pd.DataFrame()
  result['match_id']=id
  result['prediction']=m
  result.to_csv('predicted.csv')