In [ ]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-

import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.tree import DecisionTreeRegressor
import matplotlib.pyplot as plt

data_test = pd.read_csv("/content/IPL_test.csv")


enc = OneHotEncoder(dtype = float)
overs = [[i] for i in range(1, 21)]
enc.fit(overs)

def drop_feature(df):
    return df.drop(["batting_team", "ball", "bowler",
                    "batsman", "dismissal_kind", "player_dismissed", "fielder",
                    "bowling_team", "non_striker"
                    ], axis = 1)
test = drop_feature(data_test)

In [ ]:
matchid=124
cum_run=[]
m=[]
sum=0
hehe=1
for i in range(len(test)):
  if test['match_id'][i]!=matchid:
    matchid=test['match_id'][i]
    try:
      sum=test['total_runs'][i]
      hehe=1
    except:
      continue
    cum_run.append(sum)
    m.append(hehe)
  else:
    sum+=test['total_runs'][i]
    hehe+=1
    cum_run.append(sum)
    m.append(hehe)
test['cum_run']=cum_run
test['balls']=m
test

,match_id,over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,cum_run,balls
0,124,1,0,0,0,0,0,0,0,0,0,2
1,124,1,0,0,0,0,0,4,0,4,4,3
2,124,1,0,0,0,0,0,4,0,4,8,4
3,124,1,0,0,0,0,0,4,0,4,12,5
4,124,1,0,0,0,0,0,0,0,0,12,6
...,...,...,...,...,...,...,...,...,...,...,...,...
6142,304,8,0,0,0,0,0,0,0,0,53,49
6143,304,8,0,0,1,0,0,0,1,1,54,50
6144,304,8,0,0,0,0,0,2,0,2,56,51
6145,304,8,0,0,0,0,0,4,0,4,60,52
6146,304,9,0,0,0,0,0,1,0,1,61,53

In [ ]:
matchid=124
m=[]
id=[matchid]
for i in range(len(test)):
  if matchid!=test['match_id'][i]:
    matchid=test['match_id'][i]
    m.append(20*6.4*test['cum_run'][i-1]/test['balls'][i-1])
    id.append(matchid)
m.append(20*6.4*test['cum_run'][len(test)-2]/test['balls'][len(test)-2])

In [ ]:
dafaq=pd.DataFrame()

In [ ]:
dafaq['match_id']=id
dafaq['prediction']=m

In [ ]:
dafaq.to_csv('mnq.csv')

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.tree import DecisionTreeRegressor
import matplotlib.pyplot as plt
def Predict(trainfile,testfile):
  data_test = pd.read_csv(testfile)
  enc = OneHotEncoder(dtype = float)
  overs = [[i] for i in range(1, 21)]
  enc.fit(overs)
  def drop_feature(df):
      return df.drop(["batting_team", "ball", "bowler",
                      "batsman", "dismissal_kind", "player_dismissed", "fielder",
                      "bowling_team", "non_striker"
                      ], axis = 1)
  test = drop_feature(data_test)
  matchid=124
  cum_run=[]
  m=[]
  sum=0
  hehe=1
  for i in range(len(test)):
    if test['match_id'][i]!=matchid:
      matchid=test['match_id'][i]
      try:
        sum=test['total_runs'][i]
        hehe=1
      except:
        continue
      cum_run.append(sum)
      m.append(hehe)
    else:
      sum+=test['total_runs'][i]
      hehe+=1
      cum_run.append(sum)
      m.append(hehe)
  test['cum_run']=cum_run
  test['balls']=m
  matchid=124
  m=[]
  id=[matchid]
  for i in range(len(test)):
    if matchid!=test['match_id'][i]:
      matchid=test['match_id'][i]
      m.append(20*6.4*test['cum_run'][i-1]/test['balls'][i-1])
      id.append(matchid)
  m.append(20*6.4*test['cum_run'][len(test)-2]/test['balls'][len(test)-2])
  dafaq=pd.DataFrame()
  dafaq['match_id']=id
  dafaq['prediction']=m
  dafaq.to_csv('predicted.csv')